---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";
import CardBlogRecent from "@components/ui/cards/CardBlogRecent.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Get all blogs post and sort them based on publish date

const blogEntries = await getCollection("blog");

const insightsEntries = await getCollection("insights");

const blogPosts: CollectionEntry<"blog">[] = blogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
// Get all insights posts
const insightPosts: CollectionEntry<"insights">[] = insightsEntries;

// Separate the most recent post from others
const mostRecentPost: CollectionEntry<"blog"> = blogPosts[0];
const otherPosts: CollectionEntry<"blog">[] = blogPosts.slice(1);

// Define variables for page content
const title: string = "Blog EduRoots";
const subTitle: string =
  "Découvrez mes derniers articles sur la gestion scolaire, les bonnes pratiques éducatives et les actualités d'EduRoots. De la gestion administrative aux outils de communication, mon blog est votre ressource pour tout ce qui concerne l'éducation.";
const secondTitle: string = "Insights";
const secondSubTitle: string =
  "Restez informé des dernières tendances et développements dans le secteur éducatif avec mes insights d'expert en gestion scolaire.";

const pageTitle: string = `Blog | ${SITE.title}`;
const metaDescription =
  "Découvrez mes derniers articles sur la gestion scolaire, les bonnes pratiques éducatives et les actualités d'EduRoots.";
const ogTitle = "Blog Gestion Scolaire | EduRoots";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://eduroots.org/blog",
    url: "https://eduroots.org/blog",
    name: "Blog | Eduroots",
    description:
      "Découvrez mes derniers articles sur la gestion scolaire, les bonnes pratiques éducatives et les actualités d'Eduroots.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://eduroots.org",
      name: "Eduroots",
      description:
        "Eduroots simplifie la gestion scolaire des mosquées avec des outils pensés pour les enseignants, parents et administrateurs.",
    },
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    {/* Page header */}
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="!block !text-4xl !font-bold !tracking-tight !text-balance !text-neutral-800 md:!text-5xl lg:!text-6xl dark:!text-neutral-200"
      >
        {title}
      </h1>

      <p
        class="mt-4 !text-lg !text-pretty !text-neutral-600 dark:!text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    {/* Blog posts grid */}
    <div class="grid gap-6 lg:grid-cols-2">
      {otherPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} />)}
    </div>
  </section>
  {/* Most recent blog post */}
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <CardBlogRecent blogEntry={mostRecentPost} />
  </section>
</MainLayout>
